/* DarkModeSlider.css */
.switch {
    position: fixed;
    top: 30px; /* Adjust the distance from the top */
    right: 30px; /* Adjust the distance from the right */
    z-index: 1000; /* Ensure it is on top of other elements */
    display: inline-block;
    width: 60px;
    height: 35px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 253, 253);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2205fd;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    transition: opacity 0.3s ease;
  }
  
  .sun-icon {
    padding-top: 10px;
    left: 5px;
    color: #f39c12;
  }
  
  .moon-icon {
    padding-top: 10px;
    right: 6px;
    color: #0a0a0a;
  }
  
  .hidden {
    opacity: 0;
  }
  